.right__contents--bellow__box{ "data-message-id": "#{message.id}"}
  .right__contents--bellow__box-name
    = message.user.name
  .right__contents--bellow__box-time
    = message.created_at
  .right__contents--bellow__box-message
    - if message.content.present?
      %p.right__contents--bellow__box-message
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
