.header
  = render "layouts/notifications"
  %p チャットグループが作成されました。

.wrapper
  = render 'shared/side_bar'
  .right
    .right__contents
      %p.right__contents-group
      = @group.name
      %p.right__contents-member
      Members:
      - @group.users.each do |user|
        = user.name
    = link_to edit_group_path(@group) do
      .right__contents-button
        %p.edit Edit

    .right__contents--bellow
      = render @messages

  .form
    .form__message
      = form_for [@group, @message], html: { id: "form" } do |f|
        = f.text_field :content, class: 'form__message--post', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = f.file_field :image, class: 'hidden', onchange: "$(this).submit();"
            = fa_icon 'picture-o', class: 'icon'
        = f.submit 'Send', class: 'form__submit', name: "submit"
